<div class="page-header">
  <h1>Mentor Ratings for <%= @center.mentor.full_name_center %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Mentor</dt>
  <dd><%= @center.mentor.full_name_center %></dd>

  <dt>Division</dt>
  <dd><%= @center.mentor.division %></dd>

  <dt>Service</dt>
  <dd><%= @center.service.service_name %></dd>

  <dt>Ratings</dt>
  <dd><%= @center.ratings %></dd>

</dl>
