<div class="page-header">
  <h1>Mentor <%= @mentor.full_name_center %></h1>
</div>

<dl class="dl-horizontal">
   <dt>Division</dt>
  <dd><%= @mentor.division %></dd>

  <dt>First name</dt>
  <dd><%= @mentor.first_name %></dd>

  <dt>Last name</dt>
  <dd><%= @mentor.last_name %></dd>

  <dt>Email</dt>
  <dd><%= @mentor.email %></dd>

</dl>
